@import './default.less';

@font-family-base:-apple-system, "Helvetica Neue", "Roboto", sans-serif;
@font-size-base:16px;
@background-color:#fff;
@link-color:@primary;
@content-padding:16px;
@z-index-page-container:1;